{
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vue/vue3-strongly-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "vueCompilerOptions": true
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "vue/html-indent": [
      "error",
      2
    ],
    "eqeqeq": "off",
    "curly": "error",
    "quotes": [
      "error",
      "single"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "minItems": 1
      }
    ],
    "newline-before-return": "error",
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "vue/require-prop-types": "error",
    "vue/attributes-order": "error",
    "vue/order-in-components": "error",
    "vue/this-in-template": "error",
    "vue/script-indent": ["error", 2, { "baseIndent": 0 }],
    "template-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", "always"],
    "comma-style": ["error", "last"],
    "comma-spacing": ["error", { "before": false, "after": true }]
  }
}