// Fonts: Color-palette 
$darkest: #232843; // dark Indigo Dye
$darker:  #2B4162; //Indigo Dye
$dark: #1f84b3d9; //Blue Saphire
$medium: #ed942d; //Chocolate
$light: #6BC7F3; //Maya Blue
$lightest: #B6D273; //Wild Willow
$white: #e0e0e0; 