<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
                {{ pageVars['title'] | json_encode | replace({'"':''}) }}
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock navbar %}
    
        {% block headline %}{% endblock headline %}

        <!-- Pages will be rendered in #app -->
        <!-- Pages location: components/app/ -->
        <div id="app">
            {% block body %}{% endblock body %}
        </div>

        {% block footer %}{% endblock footer %}
    </body>

    {% block javascripts %}{% endblock %}
</html>

