@import '../color_palette.scss';

.nav {
    margin: 0 0 0 0 !important;
    font-family: 'Kanit', sans-serif;

    & > li > * {
        transition: 
            color 1s, 
            background-color 1s ease-out, 
            box-shadow 1s ease-in-out, 
            text-decoration-color 1s ease-in-out;
    }

    &-item > a, &-button, &-logo {
        list-style-type: none;
        margin-right: 2rem;
    }

    &-button:hover {
        background-color: $light;
    }

    &-item > a {
        text-decoration: underline;
        text-decoration-color: white;
        color: $darker;

        &:hover {
            color: $light;
            text-decoration-color: $light;
        }
    }

    &-logo {
        margin-right: auto;
    }

    &-profile {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        box-shadow: 6px 5px 2px 1px $darkest;

        &:hover {
            box-shadow: 2px 2px 2px 1px $light;
        }

        &:focus {
            box-shadow: 2px 2px 2px 1px $darkest;
        }
    }
}

// Curve Design created with a relative wrapper and absolute ::before && ::after
.curve {
    position: relative;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::before {
        content: '';
        position: absolute;
        width: 56vw;
        height: 56%;
        left: 60vw;
        transform: translate(-29%, 82%);
        background-color: white;
        border-radius: 113% 0% 0% 20px;
        min-width: 250px;
    }
}