.h {
    &-100 {
        height: 100%;
    }

    &-50 {
        height: 50%;
    }

    &-v {
        &-100 {
            height: 100vh;
        }
    }

    &-fixed {
        &-s {
            height: 400px;
        }
    }
}